.grid {
  padding-top: 30px;
  height: 200px;
  background-color: #ddd;
}
.footer {
  position: bottom;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
#myCarousel {
  background-color: #666;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
#myCarousel h1 {
  color: #7FDBFF;
}
#footer {
  margin-bottom: 0px;
}
